*{
    padding: 0;
    margin: auto;
}
#app{
    width: 1000px;
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
}
.top{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 150px;
    
    margin-top: 20px;

}
.top >h2{
    text-align: center;
    color:red;
}
.top >input{
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
}
.city{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
}
.show{
    float: left;
    text-align: center;
    width: 950px;
    height: 400px;
    margin-left: 25px;
    margin-right: 25px;
}
.tishi{
    color: red;
    margin-top: 10px;
}
.weather_list li{
    margin-top: 50px;
    list-style:none; 
    float: left; 
    height: 300px;
    display: block;
    text-align:center;
    line-height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid blue; 
    border-radius:5px 0 0 5px ;
    /* //给li加圆角边框  */

}
.info_type{
    margin-top: 50px;
}
.info_temp{
    margin-top: 50px;
}
.info_temp >b{
    color:yellow;
    
    

}
.info_data{
    margin-top: 50px;
}
/* .show .w1{
    width: 145px;
    height: 350px;
    border: solid yellow 1px;
    float: left;
    margin-top: 25px;
    margin-left: 2px;
} */